<div id="page-wrapper">
    <div id="page-inner">
        <!-- /. ROW  -->
        <div class="board">
            <div class="panel panel-default mb-0 border-bottom pointer p-1">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Danh sách người dùng
                    </h4>
                    <div class="mt-2 d-flex justify-content-end">
                        <%if(helpers.hasCap(claims,"manage|post")){%>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modalAddUser">Thêm</button>
                        <%}%>
                        <div class="modal fade" id="modalAddUser" tabindex="-1" role="dialog"
                            aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4>Thêm user</h4>
                                        <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div>
                                                <div class="sub-title p-2">Tên</div>
                                                <div>
                                                    <input type="text" class="form-control" id="nameAdd" value=""
                                                        placeholder="Tên..." required>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="sub-title p-2">Mật khẩu</div>
                                                <div>
                                                    <input type="password" class="form-control" id="passwordAdd"
                                                        value="" placeholder="Mật khẩu..." required>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="sub-title p-2">Email</div>
                                                <div>
                                                    <input type="text" class="form-control" id="emailAdd" value=""
                                                        placeholder="Email..." required>
                                                </div>
                                            </div>
                                            <!-- <div class="">
                                                <div class="sub-title p-2">Phòng ban</div>
                                                <div>
                                                    <select class="w-100" id="selectUserDep" multiple="multiple"
                                                        value="">
                                                    </select>
                                                </div>
                                            </div> -->
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                        <%if(helpers.hasCap(claims,"manage|post")){%>
                        <button type="button" class="btn btn-primary" id="addUser">Thêm</button>
                        <%}%>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal" id="modalEditUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document" style="min-width: 80%">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4>Phân quyền</h4>
                                        <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p id="errorEdit" class="d-none text-danger"></p>
                                        <form>
                                            <div class="">
                                                <div class="row  d-none">
                                                    <div class="col-4">
                                                        <div class="sub-title p-2">Tên người dùng</div>
                                                        <div>
                                                            <input type="text" class="form-control" id="nameEdit"
                                                                value="" placeholder="Tên..." required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <div id="deparmentUser" class="d-flex justify-content-around">

                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                        <%if(helpers.hasCap(claims,"manage|put")){%>
                        <button type="button" class="btn btn-primary" data-id="" id="submitEditUser">Sửa</button>
                        <%}%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-borderless" id="table-user">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên</th>
                                <th>Email</th>
                                <th>Chức vụ</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach( (item,index) => { %>
                        <tr id="user-row-<%= item.id %>">
                            <td><%= index+1 %></td>
                            <td><%= item.username %></td>
                            <td><%= item.email %></td>
                            <td>
                                <%= helpers.join(item.roles) %>
                            </td>
                            <td>
                                <i class="far fa-trash-alt deleteUser" attr-id="<%= item.id %>"></i>
                                <i class="far fa-edit editUser" onclick="editUser(<%= JSON.stringify(item) %>)"
                                    data-toggle="modal" data-target="#modalEditUser" attr-id="<%= item.id %>"></i>
                            </td>
                        </tr>
                        <% }) %>
                        </tbody>
                        </table>
                    </div>
                </div>
                <!-- /. PAGE INNER  -->
            </div>
        </div>

        <script>
            $(window).load(function () {
                callApi('department/lists', 'Get').then(res => {
                    return res.json();
                }).then(res => {
                    var data = res.items.map(x => { return { "id": x.id, "text": x.name } });
                    $("#selectUserDep").select2({
                        placeholder: "Phòng ban...",
                        allowClear: true,
                        data: data,
                        tags: true,
                        tokenSeparators: [',', ' ']
                    });
                })
            });
            //tode : delete user
            $(".deleteUser").click(function () {
                swal("Bạn có muốn xóa", "confirm").then(x => {
                    if (x) {
                        const id = $(this).attr("attr-id");
                        callApi('user/' + id, 'Delete').then(res => {
                            return res.json();
                        }).then(res => {
                            if (res.success) {
                                notify("success", "Xóa thành công");
                                // $("#user-row-" + id).remove();
                                setTimeout(() => {
                                    window.location.href = window.location.href;
                                }, 1000);

                            }
                        })
                    }
                })
            })

            // todo: add user
            $("#addUser").click(function () {
                const username = $("#nameAdd").val();
                const password = $("#passwordAdd").val();
                const email = $("#emailAdd").val();
                if (!username || !password || !email) {
                    notify("error", "Bạn cần điền đầy đủ thông tin");
                } else {
                    const data = {
                        username, password, email
                    }
                    callApi('user/', 'POST', data).then(res => {
                        return res.json();
                    }).then(res => {
                        if (res.success) {
                            notify("success", "Thêm thành công");
                            setTimeout(() => {
                                window.location.href = window.location.href;
                            }, 1000);
                        }
                    })
                }

            })
            // todo: edit user
            function editUser(item) {
                $("#nameEdit").val(item.username);
                $("#submitEditUser").attr("data-id", item.id);
                callApi('user/department/' + item.id, 'get').then(res => {
                    return res.json();
                }).then(res => {
                    if (res.success) {
                        $("#deparmentUser").empty();
                        res.items.map((x, i) => {
                            let row = `
                            <div class="mt-2" >
                                <div>${x.name}</div>
                                <div>
                                    ${x.roles.map((x1, i1) =>
                                `<div class="d-flex pointer justify-content-betwwen align-items-center">
                                <div class="checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round checkbox-light">
                                    <input type="checkbox" onclick="checkPer(${x.id})" data-value="${x.id}" value="${x1.id}" id="checkbox-fa-light-2" ${res.roles.includes(x1.id) && "checked"} >
                                    <label for="checkbox-fa-light-2">
                                        ${x1.name}
                                    </label>
                                </div>
                            </div>`
                            ).join("")
                                }
                                </div>
                            </div>`;
                            $("#deparmentUser").append(row);
                        })
                    }
                })
            }
            $("#submitEditUser").click(function () {
                const id = $(this).attr("data-id");
                const item = $(this).attr("attr-data");
                const username = $("#nameEdit").val();
                // const password = $("#oldPasswordEdit").val();
                // const newPassword = $("#newPasswordEdit").val();
                var roles = [];
                $('#deparmentUser :checked').each(function () {
                    roles.push($(this).val());
                });
                const data = {
                    id, username, roles
                }
                callApi('user', 'put', data).then(res => {
                    return res.json();
                }).then(res => {
                    if (res.success) {
                        notify("success", res.message);
                        setTimeout(() => {
                            window.location.href = window.location.href;
                        }, 1000);
                    } else {
                        $("#errorEdit").removeClass("d-none");
                        $("#errorEdit").text(res.message);
                    }
                })
            })
            function checkPer(id) {
                $('#deparmentUser :checked').each(function () {
                    if ($(this).attr("data-value") != id) {
                        $(this).prop('checked', false);
                    }
                });
            }
        </script>